<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b87dc0c04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Adventure Bike</title>
</head>
<body>
<header>
    <div>
        <p></p>
    </div>
<img class="logo" src="/images/logo1.png" alt="logo"> 
<h1 >ADVENTURE BIKE</h1>
   <h2><i> Ride the world</i></h2> 


<nav class="menu">
    <ul>
        <li><a href="#">Bicicletas</a></li> 
        <li><a href="#">Accesorios</a></li> 
        <li><a href="#">Descuentos</a></li> 
        <li><a href="#">Visitanos</a></li>
    </ul>
</nav>

<div>
    <h2>Suscripciones</h2>
    <button><a href="/views/sign-in.html">Registro</a></button>
    <button><a href="/views/purchase.html">Carrito</a></button>
</div>


</header>

<main></main>
<section>
    <article class="video">
        <video src="https://www.youtube.com/watch?v=6YB5WL0J-sI&ab_channel=JonasM" controls><p>Tu navegador no soporta HTML5 video. Aquí está el 
            <a href="https://www.youtube.com/watch?v=6YB5WL0J-sI&ab_channel=JonasM">enlace del video</a></p></video>
    </article>

    <article>
        <h2>Destacados</h2>
        <img src="/images/Bike #1.png" alt="img">
        <img src="/images/Bike #2.png" alt="img1">
        <img src="/images/Bike #3.png" alt="img2">
        <img src="/images/Bike #1.png" alt="img3">
        <img src="/images/Bike #2.png" alt="img4">
        <img src="/images/Bike #3.png" alt="img5">
    </article>
</section>



<footer>
    <div>
        <p>Copyright 2023 © Todos los derechos reservados ADVENTURE BIKE S.A. | Powered By: @XYZ</p>
    </div>
</footer>
</body>
</html>






