<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b87dc0c04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Document</title>
</head>
<body>
<header>
<div class="main-header-1">
<img>    
<h2 ><i></i></h2>
<a><i></i></a>
</div>

<nav>
    <ul></ul>
    <ul></ul>
</nav>

</header>

<main></main>
<div></div>


<div></div>

<footer>
    <div></div>
</section>
</footer>
</body>
</html>






