body{
    font-family: "exo2", sans-serif;
    margin: 5px;
    margin-bottom: 10px;
    background-color: rgb(3, 2, 54);
    color: white;
}


header div {
    padding: 3px;
    background-color: violet ;
    display: flex;
    justify-content: space-between;
    margin:auto;
}

header div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(15, 10, 10, 0.932);
}

.header-buttons{
    display: flex;
    width: 170px;
    justify-content: space-between;
}

.input  {
    margin:auto;
}

header div div a i {
    color: rgb(6, 6, 248);
}

.header-btm {
    display: block;
    text-align: center;
    color:  white;
    background-color:  rgb(6, 6, 248);
    padding: 10px 0;
    max-width: 50px;
    font-size: 30px;
    border-radius: 10px;
    margin: auto;
}

header div img {
    width: 100px;
    border: none;
}

header nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

main section{
    width: 100 vw;
    margin-bottom: 10px;
}

main section article{
    margin-bottom: 10px;
}

main section article img {
    display: flex;
    width: 80%;
    margin: auto;
}

footer {
    background-color: rgb(37, 243, 37);
}