<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9b87dc0c04.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" >
    <title>Adventure Bike</title>
</head>
<body>
    <header>
        <div>
            <div>
                <img src="/images/logo1.png" alt="logo">
            </div>
            <div class="header-buttons">
                <div class="input">Buscar...<i class="fa fa-search"></i></div>
                <a href="log-in"><i class="fa-solid fa-right-to-bracket"></i></a>
                <a href="purchase"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </div>

        <div class="header-btm"><a class="menu-botton" href="#"><i class="fa-solid fa-bars"></i></a></div>

        <nav>
            <ul>
                <li><a href="#">Bicicletas</a></li> 
                <li><a href="#">Accesorios</a></li> 
                <li><a href="#">Descuentos</a></li> 
                <li><a href="#">Visitanos</a></li>
            </ul></nav>
    </header>

    <main>
        <section>
            <video src="#"></video>
        </section>
        <section>
            <article>
                <h3>Nombre bici-modelo</h3>
                <img src="/images/BikeRuta1.png" alt="BikeRuta1">
                <p>Características</p>
                <p>Precio</p>
                <p>Unidades disponiles</p>
            </article>

            <article>
                <h3>Nombre bici-modelo</h3>
                <img src="/images/BikeRuta2.png" alt="Bike2">
                <p>Características</p>
                <p>Precio</p>
                <p>Unidades disponiles</p>
            </article>

            <article>
                <h3>Nombre bici-modelo</h3>
                <img src="/images/BikeRuta3.png" alt="Bike3">
                <p>Características</p>
                <p>Precio</p>
                <p>Unidades disponiles</p>
            </article>

            <article>
                <h3>Nombre bici-modelo</h3>
                <img src="/images/Bike1.png" alt="Bike1">
                <p>Características</p>
                <p>Precio</p>
                <p>Unidades disponiles</p>
            </article>

            <article>
                <h3>Nombre bici-modelo</h3>
                <img src="/images/Bike2.png" alt="Bike1">
                <p>Características</p>
                <p>Precio</p>
                <p>Unidades disponiles</p>
            </article>
            
            <article>
                <h3>Nombre bici-modelo</h3>
                <img src="/images/Bike3.png" alt="Bike1">
                <p>Características</p>
                <p>Precio</p>
                <p>Unidades disponiles</p>
            </article>
        </section>

        <section>
            <h2>Noticias</h2>
            <article>
                <a aria-sort="#"></a>
            </article>
            <article><a>Información del artículo</a></article>

        </section>
    </main>

    <footer>

        
    </footer>
</body>
</html>